window#waybar.solo{
        background: #f2f1f8;
}

window#waybar.foot, window#waybar.kitty, window#waybar.Alacritty, window#waybar.urxvt{
        background: rgba (242, 241, 248, 0.93);
}

/* Firefox & LibreWolf */
window#waybar.firefox, window#waybar.librewolf, window#waybar.LibreWolf, window#waybar.firedragon{
        background: #edecf8;
}

/* window#waybar.gimp{
	background: #484848;
	color: #ffffff;
} */

window#waybar.spotify, window#waybar.mpv, window#waybar.imv, window#waybar.glxgears{
        background: #000000;
	color: #fff9e8;
}

window#waybar.steam{
	background:#2a2e33;
	color: #b8b6b4;
}

window#waybar.DesktopEditors{
	background:#404040;
}

/* Discord default theme */
window#waybar.discord{
        background: #36393f;
}

window#waybar.wireshark, window#waybar.gimp{
	background: #1e1f29;
}
