/* Use a color scheme 

To change color scheme replace line below with:
@import url("colorschemes/<color_scheme>/style.css");

*/

@import url("colorschemes/rose-pine-moon/style.css");

/* Modify a colorscheme  
Currently only Catppuccin, Rosé Pine & variant of previous color schemes support color name variables

For example, to change accent color to Rosé Pine's Love
@define-color accent-color @love; */

*/

/* @define-color accent-color @love; */

/* change another rules for colorscheme */

/*
@define-color bg-color @base;
@define-color bar-bg-color @bg-color;
@define-color terminal-bg-color @base-transparent;
@define-color fg-color @text;

@define-color selected-bg-color @accent-color;
@define-color selected-fg-color @bg-color;
@define-color tray-bg-color @pine;
@define-color tray-fg-color @bg-color;
*/

/* disable dynamic coloring */

/*
window#waybar.solo {
  background: transparent;
}

window#waybar.solo #window {
  background: @bar-bg-color;
}
*/
